/*  body */
body{
    background-color: #f6ffcf;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* header */
header{
    overflow: hidden;
    padding: 10px 10px;  
    background-color: #fbfeff; 
    border-bottom: 1px solid #e1e4e6; 
    position: fixed;
    width: 100%;
    top: 0;  
}

#logo{
    float: left;
    margin: 10px;
    margin-left: 30px;
    padding: 5px;
}

#logo a{
    text-decoration: none;
    color: rgb(95, 91, 91);
    text-align: center;
    position: relative;
    top: -12px;
    font-size: 20px;
    font-weight: bold;
}

#nav-bar{
    float: right;
    margin: 10px;
    margin-right: 30px;
    padding: 5px;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(95, 91, 91);
    position: relative;
    bottom: -13px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 200%;
}

#nav-bar a:hover{
    background-color: #239fd4;
    color: #fdfff9;
    border-radius: 3px;
}

#header-img{
    height: 40px;
    width: 40px;
    border: 1px solid #487b72;
    border-radius: 50%;
}


.container {
    width: 100%;
    margin: 0px;
    background-color: #FFF;
}

/* home section */
#home{
    display: flex;
    padding: 20px 70px;
    padding-right: 300px;
    padding-top: 115px;
    height: 450px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 200%;
    text-align: left;
    background-image: url(../img/bg.jpg);
    color: #fff;
}

#title {
    text-align: left;
    padding-top: 30px;
    font-weight: bold;
    font-size: 28px;
}


#fun-title{
    text-align: center;
}


/* videos section */

#videos{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 200%;
}

#video-div{
    height: 550px;
    background: #002239;
    vertical-align: middle;
}

#video {
    height: 500px;
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
}

#video-des{
    padding: 20px 300px;
    text-align: left;
}

/* products section */
#products{
    display: flex;
    padding: 20px 70px;
    flex-direction: row;
    align-content: left;
    align-items: baseline;
    line-height: 200%;
    width: auto;
    max-width: 100%;
    min-width: 320px;
    flex-wrap: wrap;
}

.row{
    margin: 15px;
    align-items: center;
    width: 350px;
}

.row a{
    text-decoration: none;
    font-size: 16px;
}

.image img{
    width: 100%;
    height: 200px;
}

.des{
    font-size: 16px;
    text-align: left;
}


/* services section */
#services{
    padding: 30px 70px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    line-height: 200%;
    width: auto;
    max-width: 100%;
    min-width: 320px;
    flex-wrap: wrap;
}

.tab{
    text-align: left;
    margin: 15px;
    line-height: 200%;
    width: 350px;
}

.heading{
    border: 1px solid #ccc;
    
}

.heading img{
    width: 100%;
    height: 200px;
}

/* subscribe section */

#subscribe{
    padding: 25px 70px;
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    align-items: center;
    background-image: url(../img/bg2.jpg);
    background-size: 100% 100%;
}

#email{
    width: 340px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #F5E4BB;
    border-radius: 5px;
}

#submit{
    height: 35px;
    width: 100px;
    margin: 5px;
    background-color: rgb(235, 100, 66);
    border: 1px solid rgb(179, 56, 25);
    border-radius: 5px;
    color: #fff; 
}

/* footer section */
footer{
    overflow: hidden;
    width: 100%;
    background-color: #222c33;
}

.footer-nav{
    position: relative;
    float: right;
    padding: 10px;
    margin: 16px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

footer p{
    position: relative;
    float: left;
    padding: 10px;
    margin: 16px;
    color: #fff;
    font-size: 16px;
}

/* Media query section */
@media only screen and (max-width: 768px){
    #home {
        margin: 0 5px;
        width: 100%;
    }
}